<div class="container-fluid">
    <div id="Home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p></p>
            <h1>Maquillaje y Peinado</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero laborum architecto dicta voluptas
                consectetur, illum reiciendis quae aperiam dolorem fuga. Recusandae neque nostrum ea delectus nihil
                esse praesentium, quae accusamus.</p>
        </div>
    </div>
    <div id="ABOUT" class="row my-3 py-3 scroll_section">
        <H2 CLASS="text-center">Nosotras</H2>
        <div class="col-md-5 offset-md-2 py-3">
            <h3 class="py-3">Pris Neff</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis id molestias, eos quia aut
                blanditiis ducimus earum accusantium ab deleniti et, nemo maiores, voluptatum eum rem eius optio
                placeat quos?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque voluptas dolores beatae maiores
                cupiditate id repellendus fugiat iusto reprehenderit aliquid enim recusandae delectus sed ipsum
                doloremque, debitis quibusdam quod distinctio.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio tempore sit libero rem error corrupti
                officia nam et qui alias quisquam saepe modi exercitationem est, laborum nulla aliquid, fugit iste!
            </p>
        </div>
        <!-- fin about -->
        <!-- inicia imagen -->
        <div class="col-md-3 my-3">
            <img src="images/about.png" alt="Acerca de">
            <!-- fin imagen -->
        </div>
    </div>
</div>
<div id="serviciosA" class="row my-3 bg-body-tertiary scroll_section">
    <H2 CLASS="text-center py-3">Servicios</H2>
    <div class="col-md-3 offset-md-1     py-5">
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
    <div id="serviciosB" class="col-md-4">
        <img src="images/agenda.png" alt="Imagen" width="425" height="425">
    </div>
    <div id="serviciosC" class="col-md-3  py-5">
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
</div>
<div class="row my-3 py-3 ">
    <div class="rounded py-5 testimonios scroll_section bg-white">
        <h2 class="text-center">Testimonios</h2>
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                {{#each testimonios}}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{id}}"
                    aria-label="Slide {{id}}"></button>
                {{/each}}
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active ">
                    <div class="testimonio col-10 offset-md-1">
                        <h5 class="text-center">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
                            earum quos molestias
                            quas debitis laudantium accusamus. Doloribus vero tempore ut sequi unde pariatur?"</h5>
                        <p>Florencia, Escobar</p>
                    </div>
                </div>
                {{#each testimonios}}
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <h5>      {{cuerpo}}
</h5>
                        <p>{{nombre}}, {{ciudad}}</p>
                    </div>
                </div>
                  {{/each}}
               
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="galeria" class="row my-3 bg-body-tertiary scroll_section">
        <H2 CLASS="text-center py-3">Galería</H2>
        <div id="carouselExampleIndicators2" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="5"
                    aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="6"
                    aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="7"
                    aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="8"
                    aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="9"
                    aria-label="Slide 10"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="10"
                    aria-label="Slide 11"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="11"
                    aria-label="Slide 12"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="12"
                    aria-label="Slide 13"></button>
            </div>
            <div class="carousel-inner ">
                <div class="carousel-item active ">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f1.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f2.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f3.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f4.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f5.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f6.png" alt="">

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f7.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/f8.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/d1.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/d2.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/d3.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/d4.png" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio col-10 offset-md-1">
                        <img src="images/d5.png" alt="">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="contacto" class="row my-3 py-3 scroll_section">
        <H2 CLASS="text-center">Contacto</H2>
        <div class="col-md-3 offset-md-2 py-3">
            <h5 class="py-3">Email: info@estudiomyp.com.ar</h3>
                <h5 class="py-3">Teléfono: 15-6401-7001</h3>
                    <h5 class="py-3">Instragram: prisestudio.myp</h3>
        </div>
        <!-- fin about -->
        <!-- inicia imagen -->
        <div class="col-md-6 my-3">
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="inputNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="inputNombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="inputApellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="inputApellido" name="apellido">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="email@email.com" name="email">
                </div>
                <div class="col-md-12">
                    <label for="inputTelefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" id="inputTelefono" name="tel">
                </div>
                <div class="col-md-12">
                    <label for="mensaje" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
      <p>{{message}}</p>
        </div>
     </div>
</div>
</div>
</div>